In [6]:
import numpy as np

In [7]:
import pandas as pd

In [3]:
s = pd.Series(list('abca'))

In [5]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [6]:
s1 = ['a', 'b', np.nan]

In [8]:
pd.get_dummies(s1, dummy_na=True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [21]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                    'C': [1, 2, 3], 'D': ['c', 'd', np.nan]})

In [22]:
pd.get_dummies(df, prefix=['col1', 'col2', 'col3'], sparse=True)

   C  col1_a  col1_b  col2_a  col2_b  col2_c  col3_c  col3_d
0  1       1       0       0       1       0       1       0
1  2       0       1       1       0       0       0       1
2  3       1       0       0       0       1       0       0

In [23]:
pd.get_dummies(df, prefix=['col1', 'col2', 'col3'], sparse=False)

   C  col1_a  col1_b  col2_a  col2_b  col2_c  col3_c  col3_d
0  1       1       0       0       1       0       1       0
1  2       0       1       1       0       0       0       1
2  3       1       0       0       0       1       0       0

In [31]:
df

   A  B  C    D
0  a  b  1    c
1  b  a  2    d
2  a  c  3  NaN

In [14]:
df.shape[1]

3

In [29]:
a = [True, False, True, True]

In [35]:
df[0:1]

   A  B  C  D
0  a  b  1  c

In [1]:
from sklearn.linear_model import LogisticRegression as lr

In [4]:
model = lr()

In [5]:
model.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'max_iter': 100,
 'multi_class': 'ovr',
 'penalty': 'l2',
 'random_state': None,
 'solver': 'liblinear',
 'tol': 0.0001,
 'verbose': 0}

In [8]:
arr = pd.DataFrame([[1,2,3],[4,5,6]])
arr2 = arr[[0,2]]

In [13]:
arr[True, False, True]

KeyError: (True, False, True)

In [51]:
arr.shape[1]

3

In [16]:
arr[[0,2]] = arr[[0,2]] + 3
arr

   0  1  2
0  4  2  6
1  7  5  9

In [4]:
arr2 = min(3, arr)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [17]:
df = pd.DataFrame({'A': [1, 2, 1, 2, 1, 2, 3]})

In [23]:
df.mode()

   A
0  1
1  2

In [24]:
type(df.mode())

pandas.core.frame.DataFrame

In [34]:
df_a = df.mode()

In [35]:
df_a

   A
0  1
1  2

In [39]:
df_a.ix[1]

A    2
Name: 1, dtype: int64

In [40]:
type(df_a.ix[1])

pandas.core.series.Series

In [42]:
dict_a = {'a':1, 'b':2, 'c':3}
dict_b = {'a':4, 'b':5, 'c':6}
dict_c = {'a':10, 'b':20, 'c':30}

In [43]:
list_dict = [dict_a, dict_b, dict_c]

In [45]:
list_dict[0]['a']

1

In [47]:
dict_a = {'a':1, 'b':2, 'c':3}
dict_b = {'a':4, 'b':5}
dict_c = {'a':10}
dict_combine = dict_a

In [49]:
for key in dict_a.keys():
    try:
        tmp = dict_b[key]
        try:
            tmp = dict_c[key]
            dict_combine[key] = dict_a[key] * 1 + dict_b[key] * 10 + dict_c[key] * 100
        except KeyError:
            dict_combine[key] = dict_a[key] * 1 + dict_b[key] * 10
    except KeyError:
        pass
print dict_combine

{'a': 1041, 'c': 3, 'b': 52}